/* Group 18 */

position: absolute;
width: 1407px;
height: 84px;
left: 16px;
top: 21px;


/* Group 17 */

position: absolute;
width: 938px;
height: 57px;
left: 250px;
top: 910px;



/* Rectangle 6 */

position: absolute;
width: 938px;
height: 57px;
left: 250px;
top: 910px;

background: linear-gradient(90deg, #A18C02 0%, #FBDB03 50%, #A18C02 100%);


/* + Add your story */

position: absolute;
width: 234px;
height: 30px;
left: 599px;
top: 924px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #2D1A00;



/* Group 14 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 126px;



/* Rectangle 2 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 126px;

background: rgba(236, 193, 59, 0.15);


/* By Krishna Satyam */

position: absolute;
width: 159px;
height: 22px;
left: 33px;
top: 254px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #2D1A00;



/* Group 2 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 132px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 132px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 165px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 205px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* By Krishna Satyam */

position: absolute;
width: 159px;
height: 22px;
left: 33px;
top: 254px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #2D1A00;



/* Group 3 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 132px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 132px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 165px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 205px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 13 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 322px;



/* Rectangle 7 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 322px;

background: rgba(236, 193, 59, 0.15);


/* Group 4 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 328px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 401px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 5 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 328px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 401px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 16 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 518px;



/* Rectangle 8 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 518px;

background: rgba(236, 193, 59, 0.15);


/* Group 6 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 524px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 524px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 557px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 597px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 7 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 524px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 524px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 557px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 597px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 15 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 714px;



/* Rectangle 9 */

position: absolute;
width: 1407px;
height: 175px;
left: 16px;
top: 714px;

background: rgba(236, 193, 59, 0.15);


/* Group 8 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 720px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 720px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 753px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 793px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 9 */

position: absolute;
width: 803px;
height: 62px;
left: 33px;
top: 720px;



/* Stronger Photographs With Just One Decision */

position: absolute;
width: 803px;
height: 42px;
left: 33px;
top: 720px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #2D1A00;



/* August 7, 2024 11:30 AM */

position: absolute;
width: 301px;
height: 29px;
left: 33px;
top: 753px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #2D1A00;



/* Watch the short video above, or keep reading if you prefer the written word. I think a lot photographers put all their creative eggs in too few baskets. They look to the work they do with the camera as job one, which it is. But it’s not the only job. It’s the sexy job, for sure. But it’s insufficient. Some … */

position: absolute;
width: 1368px;
height: 38px;
left: 33px;
top: 793px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #2D1A00;



/* Group 19 */

position: absolute;
width: 1440px;
height: 94px;
left: 0px;
top: 988px;



/* Rectangle 10 */

position: absolute;
width: 1440px;
height: 54px;
left: 0px;
top: 988px;

background: rgba(48, 46, 23, 0.8);


/* Rectangle 11 */

position: absolute;
width: 1440px;
height: 40px;
left: 0px;
top: 1042px;

background: #715803;


/* copyright © 2024 Krishna Satyam */

position: absolute;
width: 241px;
height: 18px;
left: 599px;
top: 1053px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #D3D3D3;

/* Group 17 */

position: absolute;
width: 938px;
height: 57px;
left: 250px;
top: 910px;



/* Rectangle 6 */

position: absolute;
width: 938px;
height: 57px;
left: 250px;
top: 910px;

background: linear-gradient(90deg, #A18C02 25%, #FBDB03 50%, #A18C02 75%);


/* + Add your story */

position: absolute;
width: 234px;
height: 30px;
left: 599px;
top: 924px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #2D1A00;

/* Blogger Bee */

position: absolute;
width: 279px;
height: 43px;
left: calc(50% - 279px/2 - 0.5px);
top: calc(50% - 43px/2 - 477.5px);

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #2D1A00;

